In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle # we can use after anytime at any time of dployment

In [88]:
#loading dataset
Dataset = pd.read_csv("Churn_Modelling.csv")
Dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [87]:
## Preprosseing the data
# drop irrelevent feature like row number
Dataset = Dataset.drop(['RowNumber','CustomerId','Surname'],axis=1) #axis = colunmwise
Dataset

KeyError: "['RowNumber', 'CustomerId', 'Surname'] not found in axis"

In [ ]:
#Geography, Gender categorical variable 
# Encode this 

label_encoder_gender = LabelEncoder()
Dataset['Gender']=label_encoder_gender.fit_transform(Dataset['Gender'])
Dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [52]:
# Geography cannot use label encoder . boz more category is there. it should be 0/1....USe OHE
#OHE -Geography

from sklearn.preprocessing import OneHotEncoder

OneHot_encode_Geo = OneHotEncoder()

geo_enocode= OneHot_encode_Geo.fit_transform(Dataset[['Geography']])
geo_enocode

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [53]:
geo_enocode.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], shape=(10000, 3))

In [54]:
OneHot_encode_Geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [55]:
geo_encode_df= pd.DataFrame(geo_enocode.toarray(),columns=OneHot_encode_Geo.get_feature_names_out(['Geography']))
geo_encode_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [56]:
# combine all columns with original Data

Dataset = pd.concat([Dataset.drop('Geography', axis = 1), geo_encode_df],axis=1)
Dataset.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [57]:
##Save the encoder and scalers

with open('labet_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encode_geo.pkl','wb') as file:
    pickle.dump(OneHot_encode_Geo,file)

In [58]:
Dataset.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [59]:
# divide data set to independant and dependant features
#Exited -dependent feature

x= Dataset.drop('Exited', axis=1)
y= Dataset['Exited']

# Split the data in training and testing sets
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

#scale the features

scaler =StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [60]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]], shape=(8000, 12))

In [61]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [62]:
Dataset

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [63]:
###########ANN Implementation####################

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [64]:
(X_train.shape[1],)

(12,)

In [65]:
# Building ANN model
#64 (anything) neurons relu is one of my activation fn. we can use anything
model=Sequential([
    Dense(64,activation='relu',input_shape= (X_train.shape[1],)), ##HL1 connected with input layer
    Dense(32, activation='relu'),# HL2 
    Dense(1, activation='sigmoid') # Output layer
]


)

c:\Users\Manoj\Desktop\GenAI\NLP\ANN_Classification\venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [70]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_4 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [72]:
#oneway
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01) 
loss=tensorflow.keras.losses.BinaryCrossentropy()
#adam is one of optimizers
loss

In [73]:
# To do Forword propegation and Backwrd propegation. compile  the model
#binary_crossentropy - one of keras api

model.compile(optimizer=opt, loss="binary_crossentropy", metrics=['accuracy'])

In [83]:
#setup tensorboard
#tensorboard to visualize the all logs while training model
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") #time format to take logs
#when we train our moel , it ill create logs in this dir

tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [75]:
## setup Early stopping
early_stop_callback =  EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True) # till 5 ephocs its ill wait

In [76]:
## ************TRAINING THE MODEL *************************************

history = model.fit(
    X_train, y_train,validation_data=(X_test,y_test),epochs = 100,
    callbacks = [tensorflow_callback,early_stop_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 13ms/step - accuracy: 0.8061 - loss: 0.4480 - val_accuracy: 0.8485 - val_loss: 0.3545
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - accuracy: 0.8536 - loss: 0.3615 - val_accuracy: 0.8605 - val_loss: 0.3539
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.8564 - loss: 0.3466 - val_accuracy: 0.8600 - val_loss: 0.3465
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8625 - loss: 0.3432 - val_accuracy: 0.8595 - val_loss: 0.3547
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - accuracy: 0.8673 - loss: 0.3291 - val_accuracy: 0.8600 - val_loss: 0.3489
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.8618 - loss: 0.3307 - val_accuracy: 0.8545 - val_loss: 0.3579
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 12ms/step - accuracy: 0.8585 - loss: 0.3416 - val_accuracy: 0.8655 - val_loss: 0.3419
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.8629 - loss: 0.3301 - val_accuracy: 0.8655 - val_loss: 0.3327
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8617 - loss: 0.3385 - val_accuracy: 0.8580 - val_loss: 0.3473
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8649 - loss: 0.3243 - val_accuracy: 0.8700 - val_loss: 0.3414
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.8677 - loss: 0.3232 - val_accuracy: 0.8540 - val_loss: 0.3549
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.8569 - loss: 0.3373 - val_accuracy: 0.8605 - val_loss: 0.3448
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8731 - loss: 0.3117 - val_accuracy: 0.8595 - val_loss: 0.3461

In [77]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [80]:
#load tensorboards extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [84]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 6952), started 0:05:15 ago. (Use '!kill 6952' to kill it.)